html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Cairo', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  @apply bg-tertiary
}

a {
  color: inherit;
  text-decoration: none;
}

p, a, ul, ol, table {
  font-family: 'Cairo';
  @apply text-lg;
}

p {
  margin-bottom: 0.6em!important;
}

p:last-of-type {
  margin-bottom: 0em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Vim';
}

* {
  box-sizing: border-box;
}

.developerText {
  letter-spacing: .15em!important;
  text-shadow: 0 0 2px #f72119;
}

@font-face {
  font-family: 'Vim';
  src: url('../public/fonts/vimsm-webfont.woff') format('woff'),
  url('../public/fonts/vimsm-webfont.ttf') format('truetype'),
  url('../public/fonts/vimsm-webfont.svg') format('svg');
}


@keyframes glitch {
  0% {
    text-shadow: 0 0 2px #f72119;
  }
  15% {
    text-shadow: 0 0 8px #f72119;
  }
  16% {
    text-shadow: 0 0 8px #f72119;
  }
  49% {
    text-shadow: 0 0 2px #f72119;
  }
  50% {
    text-shadow: 0 0 2px #f72119;
  }
  99% {
    text-shadow: 0 0 8px #f72119;
  }
  100% {
    text-shadow: 0 0 8px #f72119;
  }
}


/* BUTTONS */

.btn {
  border: 1px solid;
  @apply px-6 py-2 border-primary text-secondary;
}

.btn-primary {
  @apply bg-primary text-secondary;
}

.btn-primary:hover {
  background-color: transparent;
  @apply transition duration-300 ease-in-out;
}

.btn-primary-outline {
  @apply border-primary text-secondary;
}

.btn-primary-outline:hover {
  @apply bg-primary transition duration-300 ease-in-out;
}